<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-add-update-notes (noteCreated)="createUpdateNote($event)" [note]="currentNote"></app-add-update-notes>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-notes-listing [notes]="notes" (editClicked)="editNote($event)" (newClicked)="newNote()" (recordDeleted)="deleteNote($event)"></app-notes-listing>
      </div>
    </div>
  </div>
</section>
