<div>
  <h2 *ngIf="!note || note.id === undefined">Add note</h2>
  <h2 *ngIf="note && note.id !== undefined">Update note</h2>
  <form>
    <div class="form-group">
      <label for="title-input">Title:</label>
      <input name="title" type="text" id="title" [(ngModel)]="note.title" class="form-control" />
    </div>
    <div class="form-group">
      <label for="desc-input">Description:</label>
      <textarea name="description" type="text" id="desc-input" [(ngModel)]="note.description" class="form-control"></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="addUpdateNote($event);">Save</button>
  </form>
</div>
